{% extends 'base.html'%}
{% load static %}
{% block title%} Forget Password {% endblock %}
{% block content %}
<div class="modal-content" style="margin-top:70px;">
    <div class="modal-body" >
        <div class="ms_register_img" style="height:100%;">
            <img src="{% static 'images/forgot_password.png' %}" alt="" class="img-fluid" style="height: 80%;width: 80%;margin-left: 40px;margin-top: 10px;"/>
            {% if LANGUAGE_CODE == 'en' %}
            <h2 class="welcome">Forgot Password</h2>
            {% else %}
            <h2 class="welcome"> نسيت كلمة السر </h2>
            {% endif %}
            
        </div>
        <div class="ms_register_form" style="background: url(/static/images/login.png);padding-bottom: 43px;">
            
        {% if LANGUAGE_CODE == 'en' %}
        <h2>Check Account</h2>
        {% else %}
        <h2> التحقق من الحساب</h2>
        {% endif %}
        <ol class="steps">
            <li class="step is-active" data-step="1">
            </li>
            <li class="step" data-step="2">
            </li>
            <li class="step" data-step="3">
            </li>
          </ol>
          <br>
            
            
            <form method="POST" class="frm_reg" >
                    {% csrf_token %}
                        
            {% include  'parts/alerts.html'%}
            {% if LANGUAGE_CODE == 'en' %}
            <div class="form-group" >
                <input type="email" placeholder="Enter Your Email" name="email" class="form-control" required>
                <span class="form_icon">
                    <i class="fa_icon form-envelope" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="form-group" >
                    <input type="text" placeholder="Enter UserName" name="userName" class="form-control" required>
                    <span class="form_icon">
                        <i class="fa_icon form-user" aria-hidden="true"></i>
                        </span>
                </div>
            <button type="submit"  class="ms_btn" target="_blank" style="background-color: #14182a;">Confirm</button>
            
            
            {% else %}
            <div class="form-group" >
                <input type="email" placeholder="ادخل بريدك الالكتروني"  name="email" class="form-control" required>
                <span class="form_icon">
                    <i class="fa_icon form-envelope" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="form-group" >
                    <input type="text" placeholder="ادخل اسم المستخدم" name="userName" class="form-control" required>
                    <span class="form_icon">
                        <i class="fa_icon form-user" aria-hidden="true"></i>
                        </span>
                </div>
            
            
            <button type="submit"  class="ms_btn" target="_blank" style="background-color: #14182a;"> تأكيد</button>
            
            
            {% endif %}
            </form>
       
        </div>
    </div>
</div>

           
{% endblock content %}